* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
  }
body {
    height: 100%;
    width: 100%;
    background-color: rgb(5, 5, 5);
    position: relative;
}
.Bigcontainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nav{
    height: 100px;
    width: 100%;
    background-color: transparent;
    padding-left: 8%;
    padding-right: 30%;
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
}
.nav_logo{
    height: 100%;
    width: 70%;
}
.nav_logo img{
    height: 100%;
    width: 100%;
}
.nav_text{
    height: 100%;
    width: 50%;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;    
    font-weight: 550;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
.video_div{
    height: 800px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.video_div::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 80%, rgba(0,0,0,0.7) 100%);
}
.video_div video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.video_text{
    height: 800px;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: #111111a0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1;
}
.text_1{
    width: 100%;
    font-size: 128px;
    font-weight: 900;
    color: #fff;
    font-family: montserrat, sans-serif;
    text-align: center;
    z-index: 1;
    pointer-events: none;
}
.text_1_2{
    width: 99.5%;
    font-size: 128px;
    font-weight: 900;
    color: #000;
    font-family: montserrat, sans-serif;
    text-align: center;
    -webkit-text-stroke: 2px #8fe71c;
    position: absolute;
    top: 30.9%;
    left: 0;
    height: 100px;
    pointer-events: none;
}
.text_2{
    font-size: 29.2px;
    font-weight: 900;
    color: #fff;
    font-family: montserrat, sans-serif;
    pointer-events: none;
    text-transform: uppercase;
}
.text_3{
    width: 50%;
    font-size: 22.8px;
    color: #fff;
    font-family: montserrat, sans-serif;
    text-align: center;
    pointer-events: none;
    font-weight: 300;
}
.div_1{
    height: 200px;
    font-size: 120px;
    -webkit-text-stroke: 2px white;
    display: flex;
    white-space: nowrap;
    position: absolute;
    top: 750px;
    font-weight: 900;
    z-index: 1;
    overflow-y:hidden ;
    overflow-x: hidden;
}
.moving_text_1 {
    font-size: 140px;
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-family: montserrat, sans-serif;
    animation-name: move_1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
}
.moving_text_1:hover{
    -webkit-text-stroke: 3px #96E910;
}
.cursor_div{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: greenyellow;
    z-index: 9;
    position: fixed;
    pointer-events: none;
}
.transparent_div{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: rgba(172, 255, 47, 0.223);
    box-shadow: 0 0 150px 150px rgba(172, 255, 47, 0.235);
    z-index:10;
    position: fixed;
    pointer-events: none;
}
@keyframes move_1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.div_2{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.d2{
    width: 800px;
    line-height: 40px;
}
.d2 .h{
    margin-bottom: 40px;
    font-size: 50px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-align: center;
}
.d2 .c{
    font-size: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 30px;
}
.d2 .f{
    font-size: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}
.d1 img{
    height: 200px;
    width: 200px;
    margin-top: 100px;
    border: 2px solid white;
    border-radius: 8px;
}
.d3 img{
    height: 200px;
    width: 200px;
    margin-top: 100px;
    border: 2px solid white;
    border-radius: 8px;
}
.main_div{
    margin-top: 210px;
}
.div_3 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.card_1 {
    height: 100%;
    width: 26%;
    background-color: yellowgreen;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;  
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.card_2 {
    height: 100%;
    width: 27%;
    background-color: yellowgreen;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.card_3 {
    height: 100%;
    width: 26%;
    background-color: yellowgreen;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.card_1 h1 {
    width: 80%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 45px;
}
.card_2 h1 {
    width: 80%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 45px;
    transform: translateY(-26px);
}
.card_3 h1 {
    width: 80%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 45px;
    transform: translateY(-49px);
}
.card_1 .p_1 {
    width: 80%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.card_1 .p_2 {
    width: 80%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.card_2 .p_1 {
    width: 80%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    transform: translateY(-26px);
}
.card_2 .p_2 {
    width: 80%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    transform: translateY(-10px);
}
.card_3 .p_1 {
    width: 80%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    transform: translateY(-48px);
}
.card_1 img {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
}
.card_2 img {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
}
.card_3 img {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
}
.signup-banner {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, #90c418 0%, #2ca02c 100%);
    position: relative;
    overflow: hidden;
    margin-bottom : 100px;
  }
  
  .signup-banner::before,
  .signup-banner::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    background-repeat: repeat-y;
    background-size: cover;
  }
  
  .signup-banner::before {
    left: 0;
    background-image: url('https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg');
  }
  
  .signup-banner::after {
    right: 0;
    background-image: url('https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg');
    transform: scaleX(-1); /* mirror it for right side */
  }
  
  .signup-banner h1 {
    color: #000;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    line-height: 1.5;
    max-width: 90%;
  }
  .food-drink-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px;
    justify-content: space-around;
  }
  
  .left-side {
    position: relative;
    height: 480px;
    width: 600px;
  }
  
  .right-side {
    flex: 1;
    max-width: 600px;
  }
  
  .section-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
  }
  
  .section-text {
    font-size: 1.2rem;
    line-height: 2;
    margin-bottom: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  
  .button {
    display: inline-block;
    padding: 15px 40px;
    border: 2px solid #9acd32; /* Green outline */
    border-radius: 40px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
  }
  
  .button:hover {
    background: #9acd32;
    color: #000;
  }
.left-side img{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}