* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(5, 5, 5);
}
.Bigcontainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nav{
    height: 100px;
    width: 100%;
    background-color: #111;
    padding-left: 8%;
    padding-right: 30%;
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
}
.nav_logo{
    height: 100%;
    width: 70%;
}
.nav_logo img{
    height: 100%;
    width: 100%;
}
.nav_text{
    height: 100%;
    width: 50%;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;    
    font-weight: 550;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
.video_div{
    height: 800px;
    width: 100%;
}
.video_div video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.video_text{
    height: 800px;
    width: 100%;
    position: absolute;
    top:3%;
    left:0;
    background-color: #1111118c;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1;
}
.text_1{
    width: 100%;
    font-size: 128px;
    font-weight: 900;
    color: #fff;
    font-family: montserrat, sans-serif;
    text-align: center;
    z-index: 1;
    pointer-events: none;
}
.text_1_2{
    width: 99.5%;
    font-size: 128px;
    font-weight: 900;
    color: #000;
    font-family: montserrat, sans-serif;
    text-align: center;
    -webkit-text-stroke: 2px #8fe71c;
    position: absolute;
    top: 29.4%;
    left: 0;
    height: 100px;
    pointer-events: none;
}
.text_2{
    font-size: 29.2px;
    font-weight: 900;
    color: #fff;
    font-family: montserrat, sans-serif;
    pointer-events: none;
    text-transform: uppercase;
}
.text_3{
    width: 50%;
    font-size: 22.8px;
    color: #fff;
    font-family: montserrat, sans-serif;
    text-align: center;
    pointer-events: none;
    font-weight: 100;
}
.div_1{
    height: 300px;
    font-size: 120px;
    -webkit-text-stroke: 2px white;
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    position: absolute;
    top:103%;
    font-weight: 900;
    z-index: 9;
}
